<div class="banner">
  <h2>官方 <span>企业</span> 支持</h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> 提供技术指导
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 执行深入的代码审查
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 指导团队成员
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 建议最佳实践
    </li>
  </ul>
  <a
    href="https://enterprise.nestjs.com"
    target="_blank"
    title="Enterprise | NestJS - A progressive Node.js framework"
    class="btn-more"
    >探索更多</a
  >
</div>
