<div class="banner">
  <h2>学习<span>正确的</span>方法！</h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> 80+ 的章节
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 5+ 小时的视频
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 官方证书
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 深入探讨会话
    </li>
  </ul>
  <a
    href="https://courses.nestjs.com"
    target="_blank"
    title="Courses | NestJS - A node.js framework built on top of TypeScript"
    class="btn-more"
    >浏览官方课程</a
  >
</div>
