<div class="banner">
  <h2>以图形化的方式浏览你的项目<span>NestJS 开发者工具</span></h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> 图形可视化工具
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 路由导航
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 交互演练场
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> CI/CD 集成
    </li>
  </ul>
  <a
    href="https://devtools.nestjs.com"
    target="_blank"
    title="Devtools | NestJS - A node.js framework built on top of TypeScript"
    class="btn-more"
    >注册</a
  >
</div>
